<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628341249394-jkr1326rqh9c9bq9ftt2505m8bfgnt19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628341249394-jkr1326rqh9c9bq9ftt2505m8bfgnt19</string>
	<key>API_KEY</key>
	<string>AIzaSyC8_XN0kaeurBjgh4Mu0wkJLgUNmG2YlVU</string>
	<key>GCM_SENDER_ID</key>
	<string>628341249394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messengerApp</string>
	<key>PROJECT_ID</key>
	<string>mesenger-app-b4cdb</string>
	<key>STORAGE_BUCKET</key>
	<string>mesenger-app-b4cdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628341249394:ios:ad765a378e578747a279eb</string>
</dict>
</plist>